# Database files
*.db
*.sqlite

# Python
__pycache__/
*.pyc
venv/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Logs
*.log

# Data directories (large files)
data/raw/
data/processed/
.DS_Store
data/.DS_Store
notebooks/.DS_Store

*.csv
*.html